.container-fluid{
    width: 100wv;
    height: 200px;
    margin: 0px;
}
.choice{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
span{
    color: red;
    size: 60px;
}
.image-text{
    color: white;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-text1{
    color: white;
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h5{
    color: green;
}
h4{
    color: red;
}
.medium{
    padding-left: 40px;
}
.small{
    padding-left: 40px;
    padding-bottom: 20px;
}
.card-title{
    text-align: center;
}
.resize{
    max-width: 100%;
    max-height: 100%;
    display: block;
}
body{
 margin: 0;
 padding: 0;   
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.sizes{
    padding: 20px;
}
.forms{
    padding: 20px;
}
footer{
    background-color: rgb(48, 6, 6);
    height: 200px;
}
form{
    padding: 20px;
}
button{
    margin: 10px;
}